.content
  %h1
    %i.icon-heart
    = 'ズルいデザイン'

  %section.section#section01
    %h2.title
      %span.num<>= '1'
      = 'ズルい線'
    .zurui-line-square
    .zurui-line-bottom
      
  %section.section#section02
    %h2.title
      %span.num<>= '2'
      = 'ズルい線'
    .zurui-line-square
    .zurui-line-bottom

  %section.section#section02
    %h2.title.dame
      = 'タイトルタイトル'
    .dame-kadomaru
      これらのグラデーションは、画面の中で強く主張してしまうため、他の構成要素と喧嘩してしまいやすく、デザインの一部として扱うにはかなり高度なバランス感覚が必要になります。前回ご紹介したの、NGな背景と同じような理由です。
      また、色の差が大きく異なるグラデーションは、自然な「面」には見えづらいというのも使いこなすのが難しい理由の一つです。実在する「面」に見えるものを模倣して背景を描画することを心がけると、自然な質感のある、美しいWebデザインを作る一つのコツと言えます。色を暗くできるSassのファンクション、"darken"を利用します。
      変数"$color"にベースとなる色（グラデーションの下の方の色）を、"$lighten" に上の方の色を下よりどれだけ明るくするかのパーセンテージを設定します。

  %section.section#section02
    %h2.title.dame
      = 'タイトルタイトル'
    .dame-kadomaru.ok
      これらのグラデーションは、画面の中で強く主張してしまうため、他の構成要素と喧嘩してしまいやすく、デザインの一部として扱うにはかなり高度なバランス感覚が必要になります。前回ご紹介したの、NGな背景と同じような理由です。
      また、色の差が大きく異なるグラデーションは、自然な「面」には見えづらいというのも使いこなすのが難しい理由の一つです。実在する「面」に見えるものを模倣して背景を描画することを心がけると、自然な質感のある、美しいWebデザインを作る一つのコツと言えます。色を暗くできるSassのファンクション、"darken"を利用します。
      変数"$color"にベースとなる色（グラデーションの下の方の色）を、"$lighten" に上の方の色を下よりどれだけ明るくするかのパーセンテージを設定します。
